@model RecipeIndexViewModel
@{ ViewBag.Title = "Onaylanmamış Tarifler"; }

<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Panel</a></li>
    <li class="breadcrumb-item active">Onaylanmamış Tarifler</li>
</ol>

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="homeDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tarif Adı</th>
                        <th>Ekleyen</th>
                        <th>Kategorisi</th>
                        <th>Fotoğrafı</th>
                        <th>Red Nedeni</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recipe in Model.Recipes)
                    {
                        <tr>
                            <th>@recipe.Id</th>
                            <td>@recipe.FoodName</td>
                            <td>@recipe.UserName</td>
                            <td>@recipe.FoodCategoryName</td>
                            <td><img src="~/Pictures/recipesImgs/@recipe.FoodPicture" class="table-image" /></td>
                            <td>@recipe.WhyNotConfirmed</td>
                            <td>
                                <button class="btn btn-sm btn-outline-warning">Detay</button>
                                <button class="btn btn-sm btn-outline-success">Bekleyene Çek</button>
                                <button class="btn btn-sm btn-outline-info">Güncelle</button>
                                <button class="btn btn-sm btn-outline-danger">Kalıcı Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AdminPages/js/dataTableTurkish.js" type="text/ecmascript"></script>
}