@model CommentIndexViewModel
@{ ViewBag.Title = "Onay Bekleyen Yorumlar"; }

<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Panel</a></li>
    <li class="breadcrumb-item active">Onay Bekleyen Yorumlar</li>
</ol>

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="homeDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Adı Soyadı</th>
                        <th>Ekleyen Kullanıcı</th>
                        <th>Yorum</th>
                        <th>Yorum Yapılan Tarif</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var comment in Model.Comments)
                    {
                    <tr>
                        <th>@comment.Id</th>
                        <td>@comment.Fullname</td>
                        <td>@comment.User.UserName</td>
                        <td>@comment.CommentText</td>
                        <td>@comment.Recipe.FoodName</td>
                        <td>
                            <button class="btn btn-sm btn-outline-warning">Detay</button>
                            <button class="btn btn-sm btn-outline-success">Onayla</button>
                            <button class="btn btn-sm btn-outline-dark">Onaylama</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AdminPages/js/dataTableTurkish.js" type="text/ecmascript"></script>
}